# "target" selects the code generator's output: one of
#   linux         -- GAS AT&T syntax, SysV ABI (as/gcc/ld)
#   windows_gnu   -- GAS AT&T syntax, win64 ABI (gcc via mingw-w64)
#
# Set this to "linux" if you move this project to a Linux machine building
# with native gcc/as instead.
target windows_gnu

